@import "tailwindcss";

@theme {
  --color-blue: #133A59;
  --color-dark-blue: #002233;
  --color-whitish: #F2F2F2;
  --color-yellow: #D8AE5E;
  --color-grey: #E2DEDE;

  --breakpoint-xsm: 540px;

  --text-2xs: 0.5rem;
  --text-3xs: 0.25rem;

  --font-montserrat: "Montserrat";
  --font-museomoderno: "MuseoModerno";

  ----breakpoint-xl: 1300;
}

.museomoderno-<uniquifier> {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 72px;
  }

  p {
    font-family: "Montserrat";
    color: var(--color-black);
  }

  a {
    font-family: var(--font-text);
    color: var(--color-black);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "MuseoModerno";
    color: var(--color-black);
  }

}



/* Better scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Optional: improve scrollbar appearance */
.scroll-container::-webkit-scrollbar {
  width: 6px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}